* {
    box-sizing: border-box;
}

body {
    font-family: "Tiny5", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    background-color: #f9f9f9;
    padding: 20px;
}

h1, h2 {
    color: #333;
    font-size: 40px;
}

p {
    font-size: 25px;
}

img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Tiny5, sans-serif;
}
